#submit {
  padding: 50px;
  margin-left: 400px;
  margin-top: 100px;
  width: 100px;
  height: 100px;
  line-height: 50px;
}

.App{
  margin-left: 0px;
  margin-top: 10px;
  font-size: 20px;
}

#alart{
  margin-top: 20px;
  margin-left: 200px;
}

#card{
  background-color: white;
  border: none;
  border-radius: 4px;
  filter: drop-shadow(0 0 0.1rem gray);
  width: 800px;
  height: 200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
}

#JMap{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}


#japanmap{
  width: 180px;
  height: 180px;
}

#atashi-buttons{
  position: absolute;
  bottom: 20px;
  left: 0px;
}