#submitter {
  padding: 5px;
  margin-left: 0px;
  margin-top: 100px;
  width: 130px;
  height: 100px;
  line-height: 50px;
}

#viewer {
  padding: 5px;
  margin-left: 50px;
  margin-top: 100px;
  width: 130px;
  height: 100px;
  line-height: 50px;
}

.Home{
  text-align: center;
  margin-left: 100px;
  margin-top: 150px;
  font-size: 20px;
}

#alart{
  margin-top: 20px;
  margin-left: 200px;
}