#submit {
  text-align: center; 
  margin-top: 20px;
} 

#inputSeries{
  text-align: left;
}

#InputForm{
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 4px;
  filter: drop-shadow(0 0 0.1rem gray);
  width: 800px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  padding: 10px;
}
/* #PostText{
  width: 600px;
  height: 150px;
} */
.App{
  margin-left: 100px;
  margin-top: 250px;
  /* font-size: 20px; */
}

#alart{
  text-align: left;
  margin-left: 130px;
  margin-top: 20px;
}