@import "~@blueprintjs/core/lib/scss/variables"; /* 変数が汚染されることに注意 */

/*
$navbar-background-color: $pt-link-color;

$pt-icon-color: $white;

$pt-text-color: $white;
*/

@import "~@blueprintjs/core/src/blueprint.scss";
